.cardContainer {
  width: 230px;
  height: max-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: #fff;
  border-radius: 8px;
}

img {
  height: 100px;
  width: 100%;
}

img.gallery {
  background-size: cover;
  min-height: 120px;
  border-radius: 6px;
}

.galleryInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.name {
  font-size: 1rem;
  font-weight: 500;
}

.tag {
  max-width: fit-content;
  padding: 4px 8px;
  background-color: beige;
  color: #217101;
  border-radius: 6px;
  font-size: 0.875rem;
  font-weight: 500;
}
