* {
  box-sizing: border-box;
}

.searchContainer {
  max-width: 500px;
  margin: auto;
}

.search {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  padding: 4px 8px;
}

button.searchBtn {
  font-size: 16px;
  font-weight: 500;
  background-color: #0e73f5;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 24px;
  cursor: pointer;
}

input {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
  font-weight: 400;
  color: #e8e8e8;
  padding: 8px;
}

input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #e8e8e8;
}

.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 48px 96px;
  gap: 24px;
  justify-content: center;
}

.pContainer {
  flex-grow: 1;
}

.parentContainer {
  display: flex;
}

.cardContainer {
  width: 230px;
  /* height: 250px; */
  height: max-content;
  min-height: 221px;

  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: #fff;
  border-radius: 8px;
}

.card {
}

img.gallery {
  background-size: cover;
  width: 100%;
  min-height: 150px;

  border-radius: 6px;
}

.galleryInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.name {
  font-size: 16px;
  font-weight: 500;
}

.tag {
  max-width: fit-content;
  padding: 4px 8px;
  background-color: beige;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
}

/* media query */
@media (max-width: 600px) {
  .cardWrapper {
    margin-left: 20px;
    margin-right: 20px;
  }
}
