* {
  box-sizing: border-box;
}

.mainContainer {
  margin: 24px 48px;
}

.searchContainer {
  max-width: 500px;
  margin: auto;
}

.search {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  padding: 4px 8px;
  margin-top: 24px;
}

button.searchBtn {
  font-size: 16px;
  font-weight: 500;
  background-color: #0e73f5;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 24px;
  cursor: pointer;
}

button.signOutBtn {
  border: 2px solid #0e73f5;
  font-size: 14px;
  font-weight: 600;
  color: #0e73f5;
  border-radius: 6px;
  padding: 8px 24px;
  cursor: pointer;
}

input {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
  font-weight: 400;
  color: #a7a7a7;
  padding: 8px;
}

input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #e8e8e8;
}

.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  margin-left: 0;
  margin-right: 0;
  gap: 24px;
  justify-content: center;
}

.loadingState {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.errorState {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.parentContainer {
  display: flex;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  padding: 8px 24px;
}

/* media query */
@media (max-width: 600px) {
  .cardWrapper {
    margin-left: 20px;
    margin-right: 20px;
  }
}
