.mainContainer {
  margin: 24px 48px;
}

.searchContainer {
  max-width: 500px;
  margin: auto;
}

.search {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  padding: 4px 8px;
  margin-top: 24px;
}

.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  margin-left: 0;
  margin-right: 0;
  gap: 24px;
  justify-content: center;
}

.loadingState {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorState {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* media query */
@media (max-width: 600px) {
  .cardWrapper {
    margin-left: 20px;
    margin-right: 20px;
  }
}
