form {
  width: 315px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  max-width: 500px;

  margin: auto;
  margin-top: 112px;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.heading {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
  color: #0e73f5;
  text-align: center;
}

.subHeading {
  font-size: 24px;
  font-weight: 600;
  color: #4f4f4f;
}

.error {
  color: #c50000;
}

/* media query */
@media (max-width: 600px) {
  .container {
    gap: 56px;
  }

  .headerContainer {
    gap: 16px;
  }

  .heading {
    font-size: 32px;
  }
}
