body {
  margin: 0;
}

html {
  background-color: #dedede;
}

#root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  gap: 40px;
  margin: 64px 24px;
}
