html {
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #dedede;
}

#root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #bbbbbb;
}
